* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

html {
  height: 100%; }

html, body {
  min-height: 100%; }

html, body, div, p, strong, span, a, b, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, del, img, i, select, button, textarea, input {
  margin: 0;
  padding: 0; }

body {
  background: #f3f9fe;
  font-family: "Arial","Microsoft YaHei",sans-serif;
  font-size: 14px;
  color: #333; }

input[type="text"], input[type="password"], select, button, textarea {
  outline: none;
  border: none;
  -webkit-appearance: none; }

a, img, button, input, textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

li {
  list-style: none; }

img {
  vertical-align: middle;
  border: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.hidden {
  overflow: hidden; }

.commonBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover; }
  .commonBg .circleBox .circle {
    position: absolute;
    z-index: 2;
    opacity: 0.5; }
    .commonBg .circleBox .circle:nth-child(1) {
      top: 20%;
      right: 3%;
      width: 120px;
      height: 120px;
      background: url(../images/circle1.png);
      background-size: 100% 100%;
      -webkit-animation: move1 20s infinite linear;
      -moz-animation: move1 20s infinite linear;
      -ms-animation: move1 20s infinite linear;
      animation: move1 20s infinite linear; }
    .commonBg .circleBox .circle:nth-child(2) {
      top: 40%;
      right: 20%;
      width: 60px;
      height: 60px;
      background: url(../images/circle2.png);
      background-size: 100% 100%;
      -webkit-animation: move2 40s infinite linear;
      -moz-animation: move2 40s infinite linear;
      -ms-animation: move2 40s infinite linear;
      animation: move2 40s infinite linear; }
    .commonBg .circleBox .circle:nth-child(3) {
      bottom: 20%;
      right: 10%;
      width: 100px;
      height: 100px;
      background: url(../images/circle3.png);
      background-size: 100% 100%;
      -webkit-animation: move3 40s infinite linear;
      -moz-animation: move3 40s infinite linear;
      -ms-animation: move3 40s infinite linear;
      animation: move3 40s infinite linear; }
    .commonBg .circleBox .circle:nth-child(4) {
      top: 50%;
      left: 20%;
      width: 40px;
      height: 40px;
      background: url(../images/circle4.png);
      background-size: 100% 100%;
      -webkit-animation: move4 40s infinite linear;
      -moz-animation: move4 40s infinite linear;
      -ms-animation: move4 40s infinite linear;
      animation: move4 40s infinite linear; }
    .commonBg .circleBox .circle:nth-child(5) {
      bottom: 15%;
      left: 30%;
      width: 80px;
      height: 80px;
      background: url(../images/circle5.png);
      background-size: 100% 100%;
      -webkit-animation: move5 40s infinite linear;
      -moz-animation: move5 40s infinite linear;
      -ms-animation: move5 40s infinite linear;
      animation: move5 40s infinite linear; }
    .commonBg .circleBox .circle:nth-child(6) {
      bottom: 20%;
      left: -5%;
      width: 120px;
      height: 120px;
      background: url(../images/circle6.png);
      background-size: 100% 100%;
      -webkit-animation: move6 40s infinite linear;
      -moz-animation: move6 40s infinite linear;
      -ms-animation: move6 40s infinite linear;
      animation: move6 40s infinite linear; }
    .commonBg .circleBox .circle:nth-child(7) {
      bottom: 20%;
      left: -5%;
      width: 130px;
      height: 130px;
      border: 1px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-animation: move1 40s infinite linear;
      -moz-animation: move1 40s infinite linear;
      -ms-animation: move1 40s infinite linear;
      animation: move1 40s infinite linear;
      opacity: 0.2; }
    .commonBg .circleBox .circle:nth-child(8) {
      top: 20%;
      right: 3%;
      width: 130px;
      height: 130px;
      border: 1px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-animation: move2 20s infinite linear;
      -moz-animation: move2 20s infinite linear;
      -ms-animation: move2 20s infinite linear;
      animation: move2 20s infinite linear;
      opacity: 0.2; }
    .commonBg .circleBox .circle:nth-child(9) {
      bottom: 20%;
      right: 10%;
      width: 110px;
      height: 110px;
      border: 1px solid #269eff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-animation: move5 40s infinite linear;
      -moz-animation: move5 40s infinite linear;
      -ms-animation: move5 40s infinite linear;
      animation: move5 40s infinite linear;
      opacity: 0.5; }
  .commonBg .ringBox {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 800px;
    margin-left: -400px;
    z-index: 1; }
    .commonBg .ringBox .ring {
      width: 700px;
      height: 700px;
      background: rgba(74, 154, 255, 0.8);
      border: 1px solid #fff;
      margin-left: 50%;
      left: -350px;
      position: absolute;
      bottom: -300px;
      opacity: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      -webkit-animation: ring 3000ms ease-out infinite;
      -moz-animation: ring 3000ms ease-out infinite;
      -ms-animation: ring 3000ms ease-out infinite;
      animation: ring 3000ms ease-out infinite; }
      .commonBg .ringBox .ring:nth-of-type(2) {
        -webkit-animation-delay: 800ms;
        animation-delay: 800ms; }
      .commonBg .ringBox .ring:nth-of-type(3) {
        -webkit-animation-delay: 1600ms;
        animation-delay: 1600ms; }

.header {
  padding: 30px 50px 0;
  height: 75px;
  overflow: hidden;
  position: relative;
  z-index: 9; }
  .header.listHead .home a, .header.listHead .more a {
    color: #161446; }
  .header .logo {
    float: left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header .logo:hover {
      margin-top: -5px; }
  .header .home {
    position: relative;
    margin-left: 60px;
    float: left;
    height: 44px; }
    .header .home:hover a {
      line-height: 34px; }
    .header .home a {
      display: block;
      font-size: 20px;
      line-height: 44px;
      font-weight: bold;
      color: #fff;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .header .home span {
      position: absolute;
      bottom: 4px;
      left: 50%;
      margin-left: -14px;
      width: 28px;
      height: 4px;
      background: #31e0ff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
  .header .more {
    float: right;
    height: 44px; }
    .header .more:hover a {
      line-height: 34px; }
    .header .more a {
      font-size: 20px;
      line-height: 44px;
      font-weight: bold;
      color: #fff;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.loadingBox {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 660px;
  margin-top: 30px;
  z-index: 5; }
  .loadingBox h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff; }
  .loadingBox button {
    display: block;
    width: 150px;
    height: 50px;
    margin: 80px auto 0;
    font-size: 18px;
    font-weight: bold;
    color: #a1bbff;
    background: #2fb1e8;
    border: 2px solid #96e8ff;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .loadingBox button:hover {
      width: 170px; }

.mainBox {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -360px;
  padding-top: 75px;
  width: 720px;
  min-height: 100%;
  height: 100%;
  z-index: 3; }
  .mainBox .swiper-container {
    height: 100%; }
  .mainBox .swiper-pagination-bullets {
    bottom: 50px !important; }
  .mainBox .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    margin: 0 10px !important;
    background: none;
    border: 3px solid #fff; }
  .mainBox .swiper-pagination-bullet-active {
    background: #fff; }
  .mainBox .sexBox {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 420px;
    margin-top: -210px; }
    .mainBox .sexBox h1 {
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      color: #fff; }
    .mainBox .sexBox .sex {
      width: 720px;
      margin: 0 auto;
      padding: 60px 0;
      overflow: hidden; }
      .mainBox .sexBox .sex .item {
        width: 160px;
        margin: 0 100px;
        text-align: center;
        float: left;
        cursor: pointer; }
        .mainBox .sexBox .sex .item img {
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .mainBox .sexBox .sex .item p {
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          padding-top: 10px; }
        .mainBox .sexBox .sex .item:hover img {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }
  .mainBox .ageBox {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -150px; }
    .mainBox .ageBox h1 {
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      color: #fff; }
    .mainBox .ageBox .age {
      width: 690px;
      margin: 0 auto;
      padding: 60px 0; }
      .mainBox .ageBox .age input {
        width: 100%;
        height: 50px;
        padding: 10px 40px;
        font-size: 30px;
        font-weight: bold;
        color: #333;
        -webkit-border-radius: 45px;
        -moz-border-radius: 45px;
        -ms-border-radius: 45px;
        border-radius: 45px; }
      .mainBox .ageBox .age a {
        display: block;
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 46px;
        margin: 50px auto 0;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background: #0de8c4;
        border: 2px solid #96e8ff;
        cursor: pointer;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        border-radius: 25px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .mainBox .ageBox .age a:hover {
          width: 170px; }

.testBox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  margin-top: 30px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3; }
  .testBox h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff; }
  .testBox .note {
    font-size: 12px;
    color: #fff;
    line-height: 34px; }
    .testBox .note span {
      display: block;
      opacity: 0.66; }
  .testBox img {
    width: 180px;
    height: 180px;
    margin: 50px 0; }
  .testBox a {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 46px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #0de8c4;
    border: 2px solid #96e8ff;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .testBox a:hover {
      width: 170px; }

.deviceBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  margin-top: 30px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3; }
  .deviceBox h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff; }
  .deviceBox img {
    height: 180px;
    margin: 50px 0; }
  .deviceBox a,.deviceBox button {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 46px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #0de8c4;
    border: 2px solid #96e8ff;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .deviceBox a:hover {
      width: 170px; }

.listBox {
  width: 1100px;
  margin: 0 auto;
  padding: 70px 0; }
  .listBox h1 {
    font-size: 48px;
    color: #161447;
    line-height: 58px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px; }
  .listBox .block {
    padding: 0 14px;
    overflow: hidden; }
    .listBox .block .box {
      position: relative;
      width: 318px;
      float: left;
      margin: 0 14px 28px;
      background: #fff;
      overflow: hidden;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      border-radius: 25px;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
      .listBox .block .box:hover .hover {
        top: 0; }
      .listBox .block .box .imgBox img {
        width: 100%; }
      .listBox .block .box .txtBox {
        padding: 15px;
        height: 75px;
        position: relative; }
        .listBox .block .box .txtBox .name {
          font-size: 20px;
          line-height: 45px;
          color: #161447;
          font-weight: bold; }
        .listBox .block .box .txtBox .time {
          height: 30px;
          line-height: 30px;
          color: #fff;
          font-size: 16px;
          padding: 0 15px;
          position: absolute;
          top: 22px;
          right: 15px;
          background: #110e53;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          border-radius: 12px; }
      .listBox .block .box .hover {
        position: absolute;
        top: 318px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 90px 10px 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .listBox .block .box .hover:hover .play a {
          width: 145px; }
        .listBox .block .box .hover .name {
          font-size: 22px;
          line-height: 45px;
          color: #161447;
          font-weight: bold; }
        .listBox .block .box .hover .time {
          font-size: 16px;
          line-height: 22px;
          color: #161447;
          font-weight: bold; }
        .listBox .block .box .hover .play a {
          display: block;
          margin: 20px auto 0;
          width: 135px;
          height: 44px;
          line-height: 44px;
          color: #fff;
          font-size: 18px;
          color: #fff;
          font-weight: bold;
          background: url(../images/list-bg1.png) no-repeat;
          background-size: 100% 44px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease; }

.buildReport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: none; }
  .buildReport .content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .buildReport .content img {
      width: 180px;
      height: 180px; }
    .buildReport .content .tit {
      font-size: 28px;
      padding: 20px 0 10px;
      color: #fff; }
    .buildReport .content .info {
      font-size: 18px;
      color: #fefeff; }

.badge {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: none; }
  .badge .content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .badge .content .block {
      position: relative; }
    .badge .content .badgeClose {
      position: absolute;
      top: 0;
      right: 100px; }
    .badge .content .imgBox img {
      width: 380px;
      height: 380px; }
    .badge .content .name {
      width: 230px;
      height: 44px;
      line-height: 44px;
      margin: -140px auto 0;
      text-align: center;
      font-size: 26px;
      color: #fff; }
    .badge .content a {
      display: block;
      width: 150px;
      height: 50px;
      line-height: 46px;
      margin: 150px auto 0;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background: #0de8c4;
      border: 2px solid #96e8ff;
      cursor: pointer;
      -webkit-border-radius: 45px;
      -moz-border-radius: 45px;
      -ms-border-radius: 45px;
      border-radius: 45px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .badge .content a:hover {
        width: 170px; }

.exitBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: none; }
  .exitBox .content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 250px;
    padding: 30px;
    background: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .exitBox .content .block {
      position: relative; }
    .exitBox .content .tit {
      text-align: center;
      font-size: 24px;
      color: #000;
      font-weight: bold; }
    .exitBox .content .info {
      text-align: center;
      font-size: 20px;
      color: #000;
      padding: 10px 0 30px; }
    .exitBox .content .btn {
      overflow: hidden; }
      .exitBox .content .btn a {
        width: 195px;
        height: 60px;
        text-align: center;
        display: block;
        font-size: 20px;
        font-weight: bold; }
      .exitBox .content .btn .exit {
        float: left;
        border: 3px solid #19cbff;
        color: #19cbff;
        line-height: 54px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        border-radius: 25px; }
      .exitBox .content .btn .continue {
        float: right;
        color: #fff;
        line-height: 60px;
        background: url(../images/list-bg1.png) no-repeat;
        background-size: 100% 100%; }

.feedBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: none; }
  .feedBack .content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 480px;
    padding: 30px;
    background: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .feedBack .content .block {
      position: relative; }
    .feedBack .content .close {
      position: absolute;
      top: -10px;
      right: 0; }
    .feedBack .content .tit {
      text-align: center;
      font-size: 24px;
      color: #000;
      font-weight: bold;
      padding: 10px 0; }
    .feedBack .content .check {
      padding-top: 20px;
      text-align: center; }
      .feedBack .content .check a {
        height: 53px;
        padding: 0 20px;
        margin: 0 10px 20px;
        display: inline-block;
        font-size: 20px;
        color: #000;
        line-height: 48px;
        border: 2px solid #d0d0d0;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        border-radius: 15px; }
        .feedBack .content .check a.current {
          border: 2px solid #00c5ff;
          color: #00c5ff; }
    .feedBack .content .form {
      width: 365px;
      height: 52px;
      margin: 0 auto; }
      .feedBack .content .form input {
        width: 100%;
        height: 52px;
        padding: 10px;
        font-size: 20px;
        color: #666;
        border: 2px solid #d0d0d0;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        border-radius: 15px; }
    .feedBack .content .btn {
      overflow: hidden; }
      .feedBack .content .btn a {
        width: 195px;
        height: 60px;
        text-align: center;
        display: block;
        font-size: 20px;
        font-weight: bold; }
      .feedBack .content .btn .continue {
        color: #fff;
        margin: 20px auto 0;
        line-height: 60px;
        background: url(../images/list-bg1.png) no-repeat;
        background-size: 100% 100%; }

.brintingBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  margin-top: 30px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3; }
  .brintingBox img {
    display: block;
    margin: 0 auto; }
  .brintingBox p {
    font-size: 20px;
    width: 120px;
    color: #fff;
    margin: 30px auto 0; }
    .brintingBox p span {
      height: 30px;
      float: left;
      text-align: left;
      overflow: hidden;
      -webkit-animation: copying 2s ease-out infinite;
      -moz-animation: copying 2s ease-out infinite;
      -ms-animation: copying 2s ease-out infinite;
      animation: copying 2s ease-out infinite;
      display: block; }

.fixedEwm {
  width: 155px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 10px; }
  .fixedEwm img {
    width: 100%; }
  .fixedEwm p {
    font-size: 12px;
    margin-top: 10px;
    line-height: 18px; }

@-webkit-keyframes copying {
  0% {
    width: 0; }
  100% {
    width: 120px; } }
@keyframes copying {
  0% {
    width: 0; }
  100% {
    width: 140px; } }
@-webkit-keyframes ring {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0; } }
@-moz-keyframes ring {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0; } }
@-ms-keyframes ring {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0; } }
@keyframes ring {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0; } }
@-webkit-keyframes move1 {
  30% {
    -webkit-transform: translate(40px, 40px);
    -moz-transform: translate(40px, 40px);
    -ms-transform: translate(40px, 40px);
    transform: translate(40px, 40px); }
  60% {
    -webkit-transform: translate(80px, 0px);
    -moz-transform: translate(80px, 0px);
    -ms-transform: translate(80px, 0px);
    transform: translate(80px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-moz-keyframes move1 {
  30% {
    -webkit-transform: translate(40px, 40px);
    -moz-transform: translate(40px, 40px);
    -ms-transform: translate(40px, 40px);
    transform: translate(40px, 40px); }
  60% {
    -webkit-transform: translate(80px, 0px);
    -moz-transform: translate(80px, 0px);
    -ms-transform: translate(80px, 0px);
    transform: translate(80px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-ms-keyframes move1 {
  30% {
    -webkit-transform: translate(40px, 40px);
    -moz-transform: translate(40px, 40px);
    -ms-transform: translate(40px, 40px);
    transform: translate(40px, 40px); }
  60% {
    -webkit-transform: translate(80px, 0px);
    -moz-transform: translate(80px, 0px);
    -ms-transform: translate(80px, 0px);
    transform: translate(80px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@keyframes move1 {
  30% {
    -webkit-transform: translate(40px, 40px);
    -moz-transform: translate(40px, 40px);
    -ms-transform: translate(40px, 40px);
    transform: translate(40px, 40px); }
  60% {
    -webkit-transform: translate(80px, 0px);
    -moz-transform: translate(80px, 0px);
    -ms-transform: translate(80px, 0px);
    transform: translate(80px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-webkit-keyframes move2 {
  30% {
    -webkit-transform: translate(-40px, -40px);
    -moz-transform: translate(-40px, -40px);
    -ms-transform: translate(-40px, -40px);
    transform: translate(-40px, -40px); }
  60% {
    -webkit-transform: translate(-80px, 0px);
    -moz-transform: translate(-80px, 0px);
    -ms-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-moz-keyframes move2 {
  30% {
    -webkit-transform: translate(-40px, -40px);
    -moz-transform: translate(-40px, -40px);
    -ms-transform: translate(-40px, -40px);
    transform: translate(-40px, -40px); }
  60% {
    -webkit-transform: translate(-80px, 0px);
    -moz-transform: translate(-80px, 0px);
    -ms-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-ms-keyframes move2 {
  30% {
    -webkit-transform: translate(-40px, -40px);
    -moz-transform: translate(-40px, -40px);
    -ms-transform: translate(-40px, -40px);
    transform: translate(-40px, -40px); }
  60% {
    -webkit-transform: translate(-80px, 0px);
    -moz-transform: translate(-80px, 0px);
    -ms-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@keyframes move2 {
  30% {
    -webkit-transform: translate(-40px, -40px);
    -moz-transform: translate(-40px, -40px);
    -ms-transform: translate(-40px, -40px);
    transform: translate(-40px, -40px); }
  60% {
    -webkit-transform: translate(-80px, 0px);
    -moz-transform: translate(-80px, 0px);
    -ms-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-webkit-keyframes move3 {
  30% {
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-moz-keyframes move3 {
  30% {
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-ms-keyframes move3 {
  30% {
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@keyframes move3 {
  30% {
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-webkit-keyframes move4 {
  30% {
    -webkit-transform: translate(-100px, -100);
    -moz-transform: translate(-100px, -100);
    -ms-transform: translate(-100px, -100);
    transform: translate(-100px, -100); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-moz-keyframes move4 {
  30% {
    -webkit-transform: translate(-100px, -100);
    -moz-transform: translate(-100px, -100);
    -ms-transform: translate(-100px, -100);
    transform: translate(-100px, -100); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-ms-keyframes move4 {
  30% {
    -webkit-transform: translate(-100px, -100);
    -moz-transform: translate(-100px, -100);
    -ms-transform: translate(-100px, -100);
    transform: translate(-100px, -100); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@keyframes move4 {
  30% {
    -webkit-transform: translate(-100px, -100);
    -moz-transform: translate(-100px, -100);
    -ms-transform: translate(-100px, -100);
    transform: translate(-100px, -100); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-webkit-keyframes move5 {
  30% {
    -webkit-transform: translate(-100px, 50px);
    -moz-transform: translate(-100px, 50px);
    -ms-transform: translate(-100px, 50px);
    transform: translate(-100px, 50px); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-moz-keyframes move5 {
  30% {
    -webkit-transform: translate(-100px, 50px);
    -moz-transform: translate(-100px, 50px);
    -ms-transform: translate(-100px, 50px);
    transform: translate(-100px, 50px); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-ms-keyframes move5 {
  30% {
    -webkit-transform: translate(-100px, 50px);
    -moz-transform: translate(-100px, 50px);
    -ms-transform: translate(-100px, 50px);
    transform: translate(-100px, 50px); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@keyframes move5 {
  30% {
    -webkit-transform: translate(-100px, 50px);
    -moz-transform: translate(-100px, 50px);
    -ms-transform: translate(-100px, 50px);
    transform: translate(-100px, 50px); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-webkit-keyframes move6 {
  30% {
    -webkit-transform: translate(100px, 50px);
    -moz-transform: translate(100px, 50px);
    -ms-transform: translate(100px, 50px);
    transform: translate(100px, 50px); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-moz-keyframes move6 {
  30% {
    -webkit-transform: translate(100px, 50px);
    -moz-transform: translate(100px, 50px);
    -ms-transform: translate(100px, 50px);
    transform: translate(100px, 50px); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@-ms-keyframes move6 {
  30% {
    -webkit-transform: translate(100px, 50px);
    -moz-transform: translate(100px, 50px);
    -ms-transform: translate(100px, 50px);
    transform: translate(100px, 50px); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@keyframes move6 {
  30% {
    -webkit-transform: translate(100px, 50px);
    -moz-transform: translate(100px, 50px);
    -ms-transform: translate(100px, 50px);
    transform: translate(100px, 50px); }
  60% {
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px); }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
@media (min-width: 700px) and (max-width: 1100px) {
  .listBox {
    width: 100%; }

  .listBox .block {
    padding: 0; }

  .listBox .block .box {
    width: 31.3%;
    margin: 0 1% 20px; } }
@media (max-width: 700px) {
  .listBox {
    width: 100%; }

  .listBox .block {
    padding: 0; }

  .listBox .block .box {
    width: 48%;
    margin: 0 1% 20px; } }
.waveBox {
  width: 660px;
  height: 250px;
  padding-top: 150px; }

.waveBox .wave {
  width: 660px; }

.waveBox .wave .dot {
  width: 33px;
  float: left;
  vertical-align: middle;
  margin: 16px auto;
  position: relative; }

.waveBox .wave .dot:before,
.waveBox .wave .dot:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: -1px; }

.waveBox .wave .dot:nth-child(1):before {
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(2):before {
  animation: BeforeS 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -3.42s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(2):after {
  animation: AfterS 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -3.42s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(3):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -5.13s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(3):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -5.13s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(4):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -6.84s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(4):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -6.84s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(5):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -8.55s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(5):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -8.55s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(6):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -10.26s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(6):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -10.26s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(7):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -11.97s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(7):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -11.97s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(8):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -13.68s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(8):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -13.68s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(9):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -15.39s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(9):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -15.39s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(10):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -17.1s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(10):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -17.1s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(11):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -18.81s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(11):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -18.81s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(12):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -20.52s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(12):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -20.52s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(13):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -22.23s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(13):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -22.23s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(14):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -23.94s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(14):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -23.94s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(15):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -25.65s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(15):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -25.65s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(16):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -27.36s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(16):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -27.36s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(17):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -29.07s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(17):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -29.07s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(18):before {
  animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -30.78s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(18):after {
  animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -30.78s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(19):before {
  animation: BeforeS 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -32.49s;
  background-color: #00ffaf; }

.waveBox .wave .dot:nth-child(19):after {
  animation: AfterS 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: -32.49s;
  background-color: #02d2ff; }

.waveBox .wave .dot:nth-child(20):after {
  background-color: #02d2ff; }

@-webkit-keyframes Before {
  0% {
    top: -60px;
    z-index: 10; }
  25% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  50% {
    top: 60px;
    z-index: 1; }
  75% {
    background-color: #00ffaf;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  100% {
    top: -60px;
    z-index: 1; } }
@-moz-keyframes Before {
  0% {
    top: -60px;
    z-index: 10; }
  25% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  50% {
    top: 60px;
    z-index: 1; }
  75% {
    background-color: #00ffaf;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  100% {
    top: -60px;
    z-index: 1; } }
@-ms-keyframes Before {
  0% {
    top: -60px;
    z-index: 10; }
  25% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  50% {
    top: 60px;
    z-index: 1; }
  75% {
    background-color: #00ffaf;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  100% {
    top: -60px;
    z-index: 1; } }
@keyframes Before {
  0% {
    top: -60px;
    z-index: 10; }
  25% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  50% {
    top: 60px;
    z-index: 1; }
  75% {
    background-color: #00ffaf;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  100% {
    top: -60px;
    z-index: 1; } }
@-webkit-keyframes After {
  0% {
    top: 60px;
    z-index: 1; }
  25% {
    background-color: #02d2ff;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  50% {
    top: -60px;
    z-index: 10; }
  75% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  100% {
    top: 60px;
    z-index: 10; } }
@-moz-keyframes After {
  0% {
    top: 60px;
    z-index: 1; }
  25% {
    background-color: #02d2ff;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  50% {
    top: -60px;
    z-index: 10; }
  75% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  100% {
    top: 60px;
    z-index: 10; } }
@-ms-keyframes After {
  0% {
    top: 60px;
    z-index: 1; }
  25% {
    background-color: #02d2ff;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  50% {
    top: -60px;
    z-index: 10; }
  75% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  100% {
    top: 60px;
    z-index: 10; } }
@keyframes After {
  0% {
    top: 60px;
    z-index: 1; }
  25% {
    background-color: #02d2ff;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  50% {
    top: -60px;
    z-index: 10; }
  75% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  100% {
    top: 60px;
    z-index: 10; } }
@-webkit-keyframes BeforeS {
  0% {
    top: -40px;
    z-index: 10; }
  25% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  50% {
    top: 40px;
    z-index: 1; }
  75% {
    background-color: #00ffaf;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  100% {
    top: -40px;
    z-index: 1; } }
@-moz-keyframes BeforeS {
  0% {
    top: -40px;
    z-index: 10; }
  25% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  50% {
    top: 40px;
    z-index: 1; }
  75% {
    background-color: #00ffaf;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  100% {
    top: -40px;
    z-index: 1; } }
@-ms-keyframes BeforeS {
  0% {
    top: -40px;
    z-index: 10; }
  25% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  50% {
    top: 40px;
    z-index: 1; }
  75% {
    background-color: #00ffaf;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  100% {
    top: -40px;
    z-index: 1; } }
@keyframes BeforeS {
  0% {
    top: -40px;
    z-index: 10; }
  25% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  50% {
    top: 40px;
    z-index: 1; }
  75% {
    background-color: #00ffaf;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  100% {
    top: -40px;
    z-index: 1; } }
@-webkit-keyframes AfterS {
  0% {
    top: 40px;
    z-index: 1; }
  25% {
    background-color: #02d2ff;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  50% {
    top: -40px;
    z-index: 10; }
  75% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  100% {
    top: 40px;
    z-index: 10; } }
@-moz-keyframes AfterS {
  0% {
    top: 40px;
    z-index: 1; }
  25% {
    background-color: #02d2ff;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  50% {
    top: -40px;
    z-index: 10; }
  75% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  100% {
    top: 40px;
    z-index: 10; } }
@-ms-keyframes AfterS {
  0% {
    top: 40px;
    z-index: 1; }
  25% {
    background-color: #02d2ff;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  50% {
    top: -40px;
    z-index: 10; }
  75% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  100% {
    top: 40px;
    z-index: 10; } }
@keyframes AfterS {
  0% {
    top: 40px;
    z-index: 1; }
  25% {
    background-color: #02d2ff;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 1; }
  50% {
    top: -40px;
    z-index: 10; }
  75% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 10; }
  100% {
    top: 40px;
    z-index: 10; } }

/*# sourceMappingURL=bundle.css.map */
