<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div><label>正确图片</label><input id="correct"/></div>
第一阶段
<div><label>时间</label><input id="step1_need_time"/></div>
<div><label>干扰图片</label><input id="step1_interfere"/></div>
<div><label>干扰图片出现概率</label><input id="step1_interfere_odds"/>%</div>
<div><label>目标出现间隔时间</label><input id="step1_interval"/></div>
<div><label>目标停留时间</label><input id="step1_delay"/></div>

第二阶段

<div><label>时间</label><input id="step2_need_time"/></div>
<div><label>干扰图片</label><input id="step2_interfere"/></div>
<div><label>干扰图片出现概率</label><input id="step2_interfere_odds"/>%</div>
<div><label>目标出现间隔时间</label><input id="step2_interval"/></div>
<div><label>目标停留时间</label><input id="step2_delay"/></div>


<script type="text/javascript"></script>

</body>
</html>